In [60]:
import pandas as pd

In [61]:
# Read CSV and convert some columns to apprropriate data type
df = pd.read_csv('trade.csv')
df.exports = pd.to_numeric(df.exports).astype(float)
df.imports = pd.to_numeric(df.imports).astype(float)
df['balance_of_trade'] = df.apply(lambda row: row.exports - row.imports, axis=1)
df['total_trade'] = df.apply(lambda row: row.exports + row.imports, axis=1)
df['imports_growth_rate'] = df['imports'].pct_change()
df['exports_growth_rate'] = df['exports'].pct_change()
df['balance_of_trade_growth_rate'] = df['balance_of_trade'].pct_change()
df['total_trade_growth_rate'] = df['total_trade'].pct_change()
df.head()

,year,month,exports,imports,balance_of_trade,total_trade,imports_growth_rate,exports_growth_rate,balance_of_trade_growth_rate,total_trade_growth_rate
0,1991,Jan,635.57,950.41,-314.84,1585.98,NaN,NaN,NaN,NaN
1,1991,Feb,662.65,1094.81,-432.16,1757.46,0.151934,0.042607,0.372634,0.108122
2,1991,Mar,742.13,1076.87,-334.74,1819.00,-0.016386,0.119943,-0.225426,0.035016
3,1991,Apr,709.70,896.52,-186.82,1606.22,-0.167476,-0.043699,-0.441895,-0.116976
4,1991,May,688.51,983.15,-294.64,1671.66,0.096629,-0.029858,0.577133,0.040742

In [62]:
def categorize_col_vals(df, col, type=''):
    # Get column values
    new_df = pd.DataFrame(df[col]).rename(columns={col: "values"})
    if type == '':
        type = col
    new_df['type'] = type
    return new_df

df_monthly_group = df.copy().groupby("year")

In [63]:
monthly_df = df_monthly_group.get_group(1991)
monthly_df_imports_exports = pd.concat([
    categorize_col_vals(monthly_df, "exports", "Exports"),
    categorize_col_vals(monthly_df, "imports", "Imports")
])
monthly_df_imports_exports

     values     type
0    635.57  Exports
1    662.65  Exports
2    742.13  Exports
3    709.70  Exports
4    688.51  Exports
5    767.70  Exports
6    793.50  Exports
7    741.20  Exports
8    764.46  Exports
9    756.88  Exports
10   751.08  Exports
11   826.13  Exports
0    950.41  Imports
1   1094.81  Imports
2   1076.87  Imports
3    896.52  Imports
4    983.15  Imports
5    937.91  Imports
6   1025.69  Imports
7    967.43  Imports
8    988.48  Imports
9   1023.15  Imports
10  1110.04  Imports
11   996.90  Imports