In [477]:
import pandas as pd
import plotly.express as px

In [478]:
# Read CSV and convert some columns to apprropriate data type
df = pd.read_csv('trade.csv')
df.exports = pd.to_numeric(df.exports).astype(float)
df.imports = pd.to_numeric(df.imports).astype(float)
df['botg'] = df.apply(lambda row: row.exports - row.imports, axis=1)
df['total_trade'] = df.apply(lambda row: row.exports + row.imports, axis=1)
df['imports_growth_rate'] = df['imports'].pct_change()
df['exports_growth_rate'] = df['exports'].pct_change()
df['botg_growth_rate'] = df['botg'].pct_change()
df['total_trade_growth_rate'] = df['total_trade'].pct_change()

In [479]:
df.head()

,year,month,exports,imports,botg,total_trade,imports_growth_rate,exports_growth_rate,botg_growth_rate,total_trade_growth_rate
0,1991,Jan,635.57,950.41,-314.84,1585.98,NaN,NaN,NaN,NaN
1,1991,Feb,662.65,1094.81,-432.16,1757.46,0.151934,0.042607,0.372634,0.108122
2,1991,Mar,742.13,1076.87,-334.74,1819.00,-0.016386,0.119943,-0.225426,0.035016
3,1991,Apr,709.70,896.52,-186.82,1606.22,-0.167476,-0.043699,-0.441895,-0.116976
4,1991,May,688.51,983.15,-294.64,1671.66,0.096629,-0.029858,0.577133,0.040742