In [59]:
import pandas as pd
import plotly.express as px

In [60]:
# Read CSV and convert some columns to apprropriate data type
df = pd.read_csv('trade.csv')
df.exports = pd.to_numeric(df.exports).astype(float)
df.imports = pd.to_numeric(df.imports).astype(float)
df['balance_of_trade'] = df.apply(lambda row: row.exports - row.imports, axis=1)
df['total_trade'] = df.apply(lambda row: row.exports + row.imports, axis=1)
df['imports_growth_rate'] = df['imports'].pct_change()
df['exports_growth_rate'] = df['exports'].pct_change()
df['balance_of_trade_growth_rate'] = df['balance_of_trade'].pct_change()
df['total_trade_growth_rate'] = df['total_trade'].pct_change()

In [61]:
df.head()

,year,month,exports,imports,balance_of_trade,total_trade,imports_growth_rate,exports_growth_rate,balance_of_trade_growth_rate,total_trade_growth_rate
0,1991,Jan,635.57,950.41,-314.84,1585.98,NaN,NaN,NaN,NaN
1,1991,Feb,662.65,1094.81,-432.16,1757.46,0.151934,0.042607,0.372634,0.108122
2,1991,Mar,742.13,1076.87,-334.74,1819.00,-0.016386,0.119943,-0.225426,0.035016
3,1991,Apr,709.70,896.52,-186.82,1606.22,-0.167476,-0.043699,-0.441895,-0.116976
4,1991,May,688.51,983.15,-294.64,1671.66,0.096629,-0.029858,0.577133,0.040742

In [62]:
def categorize_col_vals(df, col):
    # Get column values
    new_df = pd.DataFrame(df[col]).rename(columns={col: "values"})
    new_df['type'] = col
    return new_df

In [63]:
df_chart_all_import_exports_growth_rate = pd.concat([
    categorize_col_vals(df, "exports_growth_rate"),
    categorize_col_vals(df, "imports_growth_rate")
])
df_chart_all_import_exports_growth_rate

       values                 type
0         NaN  exports_growth_rate
1    0.042607  exports_growth_rate
2    0.119943  exports_growth_rate
3   -0.043699  exports_growth_rate
4   -0.029858  exports_growth_rate
..        ...                  ...
391  0.044794  imports_growth_rate
392 -0.047486  imports_growth_rate
393  0.042554  imports_growth_rate
394  0.022410  imports_growth_rate
395 -0.094362  imports_growth_rate

[792 rows x 2 columns]

In [64]:
df_all = df.copy().set_index('year').sum(numeric_only=True)
df_all

exports                         1.468245e+06
imports                         1.917834e+06
balance_of_trade               -4.495887e+05
total_trade                     3.386079e+06
imports_growth_rate             4.391352e+00
exports_growth_rate             3.985227e+00
balance_of_trade_growth_rate   -9.634459e+01
total_trade_growth_rate         3.638580e+00
dtype: float64

In [65]:
def calc_growth_rate(df, col):
    return df[col].pct_change().apply(lambda row: row * 100)

In [66]:
column_rates = ["imports_growth_rate", "exports_growth_rate", "balance_of_trade_growth_rate", "total_trade_growth_rate"]
column_rates_src = ["imports", "exports", "balance_of_trade", "total_trade"]

df_year = df.copy()
df_year.set_index('year')
df_year = df_year.groupby('year')
df_year = df_year.sum(numeric_only=True)

for i, column_rate in enumerate(column_rates):
    column_rate_src = column_rates_src[i]
    df_year[column_rate] = calc_growth_rate(df_year, column_rate_src)
    
df_year.head()

,exports,imports,balance_of_trade,total_trade,imports_growth_rate,exports_growth_rate,balance_of_trade_growth_rate,total_trade_growth_rate
year,,,,,,,,
1991,8839.51,12051.36,-3211.85,20890.87,NaN,NaN,NaN,NaN
1992,9824.32,14518.91,-4694.59,24343.23,20.475282,11.141002,46.164671,16.525688
1993,11374.82,17597.40,-6222.58,28972.22,21.203313,15.782263,32.547890,19.015513
1994,13482.88,21332.54,-7849.66,34815.42,21.225522,18.532689,26.147996,20.168285
1995,17447.19,26537.63,-9090.44,43984.82,24.399767,29.402546,15.806799,26.337180