In [69]:
import pandas as pd

In [70]:
# Read CSV and convert some columns to apprropriate data type
df = pd.read_csv('trade.csv')
df.exports = pd.to_numeric(df.exports).astype(float)
df.imports = pd.to_numeric(df.imports).astype(float)
df['balance_of_trade'] = df.apply(lambda row: row.exports - row.imports, axis=1)
df['total_trade'] = df.apply(lambda row: row.exports + row.imports, axis=1)
df['imports_growth_rate'] = df['imports'].pct_change()
df['exports_growth_rate'] = df['exports'].pct_change()
df['balance_of_trade_growth_rate'] = df['balance_of_trade'].pct_change()
df['total_trade_growth_rate'] = df['total_trade'].pct_change()
df.head()

,year,month,exports,imports,balance_of_trade,total_trade,imports_growth_rate,exports_growth_rate,balance_of_trade_growth_rate,total_trade_growth_rate
0,1991,Jan,635.57,950.41,-314.84,1585.98,NaN,NaN,NaN,NaN
1,1991,Feb,662.65,1094.81,-432.16,1757.46,0.151934,0.042607,0.372634,0.108122
2,1991,Mar,742.13,1076.87,-334.74,1819.00,-0.016386,0.119943,-0.225426,0.035016
3,1991,Apr,709.70,896.52,-186.82,1606.22,-0.167476,-0.043699,-0.441895,-0.116976
4,1991,May,688.51,983.15,-294.64,1671.66,0.096629,-0.029858,0.577133,0.040742

In [71]:
def categorize_col_vals(df, col, type=''):
    # Get column values
    new_df = pd.DataFrame(df[col]).rename(columns={col: "values"})
    if type == '':
        type = col
    new_df['type'] = type
    return new_df

def categorize_monthly_col_vals(df, col, type=''):
    new_df = categorize_col_vals(df, col, type)
    new_df['month'] = df['month']
    return new_df

In [72]:
df_monthly_group = df.copy().groupby("year")

In [73]:
monthly_df = df_monthly_group.get_group(1991)
monthly_df.head()

,year,month,exports,imports,balance_of_trade,total_trade,imports_growth_rate,exports_growth_rate,balance_of_trade_growth_rate,total_trade_growth_rate
0,1991,Jan,635.57,950.41,-314.84,1585.98,NaN,NaN,NaN,NaN
1,1991,Feb,662.65,1094.81,-432.16,1757.46,0.151934,0.042607,0.372634,0.108122
2,1991,Mar,742.13,1076.87,-334.74,1819.00,-0.016386,0.119943,-0.225426,0.035016
3,1991,Apr,709.70,896.52,-186.82,1606.22,-0.167476,-0.043699,-0.441895,-0.116976
4,1991,May,688.51,983.15,-294.64,1671.66,0.096629,-0.029858,0.577133,0.040742

In [74]:
monthly_df_imports_exports = pd.concat([
    categorize_monthly_col_vals(monthly_df, "exports", "Exports"),
    categorize_monthly_col_vals(monthly_df, "imports", "Imports")
])
monthly_df_imports_exports

     values     type month
0    635.57  Exports   Jan
1    662.65  Exports   Feb
2    742.13  Exports   Mar
3    709.70  Exports   Apr
4    688.51  Exports   May
5    767.70  Exports   Jun
6    793.50  Exports   Jul
7    741.20  Exports   Aug
8    764.46  Exports   Sep
9    756.88  Exports   Oct
10   751.08  Exports   Nov
11   826.13  Exports   Dec
0    950.41  Imports   Jan
1   1094.81  Imports   Feb
2   1076.87  Imports   Mar
3    896.52  Imports   Apr
4    983.15  Imports   May
5    937.91  Imports   Jun
6   1025.69  Imports   Jul
7    967.43  Imports   Aug
8    988.48  Imports   Sep
9   1023.15  Imports   Oct
10  1110.04  Imports   Nov
11   996.90  Imports   Dec