In [1040]:
import pandas as pd

In [1041]:
# Read CSV and convert some columns to apprropriate data type
df = pd.read_csv('trade.csv')
df.exports = pd.to_numeric(df.exports).astype(float)
df.imports = pd.to_numeric(df.imports).astype(float)

In [1042]:
df['botg'] = df.apply(lambda row: row.exports - row.imports, axis=1)
df['total_trade'] = df.apply(lambda row: row.exports + row.imports, axis=1)
df['imports_growth_rate'] = df['imports'].pct_change()
df['exports_growth_rate'] = df['exports'].pct_change()
df['botg_growth_rate'] = df['botg'].pct_change()
df['total_trade_growth_rate'] = df['total_trade'].pct_change()

In [1043]:
df.head()

,year,month,exports,imports,botg,total_trade,imports_growth_rate,exports_growth_rate,botg_growth_rate,total_trade_growth_rate
0,1991,Jan,635.57,950.41,-314.84,1585.98,NaN,NaN,NaN,NaN
1,1991,Feb,662.65,1094.81,-432.16,1757.46,0.151934,0.042607,0.372634,0.108122
2,1991,Mar,742.13,1076.87,-334.74,1819.00,-0.016386,0.119943,-0.225426,0.035016
3,1991,Apr,709.70,896.52,-186.82,1606.22,-0.167476,-0.043699,-0.441895,-0.116976
4,1991,May,688.51,983.15,-294.64,1671.66,0.096629,-0.029858,0.577133,0.040742

In [1044]:
# Aggregate yearly
column_rates = ["imports_growth_rate", "exports_growth_rate", "botg_growth_rate", "total_trade_growth_rate"]
column_rates_src = ["imports", "exports", "botg", "total_trade"]

df_yearly = df.copy()
df_yearly.set_index('year')
df_yearly = df_yearly.groupby('year')
df_yearly = df_yearly.sum(numeric_only=True)

for i, column_rate in enumerate(column_rates):
    column_rate_src = column_rates_src[i]
    df_yearly[column_rate] = df_yearly[column_rate_src].pct_change()

In [1045]:
df_yearly.head()

,exports,imports,botg,total_trade,imports_growth_rate,exports_growth_rate,botg_growth_rate,total_trade_growth_rate
year,,,,,,,,
1991,8839.51,12051.36,-3211.85,20890.87,NaN,NaN,NaN,NaN
1992,9824.32,14518.91,-4694.59,24343.23,0.204753,0.111410,0.461647,0.165257
1993,11374.82,17597.40,-6222.58,28972.22,0.212033,0.157823,0.325479,0.190155
1994,13482.88,21332.54,-7849.66,34815.42,0.212255,0.185327,0.261480,0.201683
1995,17447.19,26537.63,-9090.44,43984.82,0.243998,0.294025,0.158068,0.263372

In [1046]:
df_month_year = df.pivot(index="month", columns="year")

In [1047]:
df_month_year.head()

      exports                                                                \
year     1991    1992     1993     1994     1995     1996     1997     1998
month
Apr    709.70  666.45   861.73   965.79  1377.42  1491.87  2082.43  2284.50
Aug    741.20  913.09   994.50  1178.01  1591.45  1773.89  2257.97  2652.45
Dec    826.13  912.80  1004.05  1308.55  1621.01  1883.27  2230.56  2523.08
Feb    662.65  714.90   842.71   927.01  1263.77  1594.01  1812.42  2227.20
Jan    635.57  662.37   790.44   951.62  1160.75  1420.45  1692.26  2114.81

                         ... total_trade_growth_rate                      \
year      1999     2000  ...                    2014      2015      2016
month                    ...
Apr    2345.95  2667.59  ...               -0.076695 -0.147274 -0.022688
Aug    3211.54  3529.46  ...                0.029648 -0.074677  0.021398
Dec    2943.51  3496.37  ...               -0.040997 -0.027461  0.010870
Feb    2569.33  2902.31  ...               -0.082679  0.022799 -0.096306
Jan    2580.78  2716.57  ...               -0.003998 -0.024583  0.016156


year       2017      2018      2019      2020      2021      2022      2023
month
Apr   -0.097961  0.019045 -0.019042 -0.470117 -0.101089 -0.075659 -0.196259
Aug    0.132717  0.005128 -0.033163 -0.026109 -0.005236  0.025029  0.057079
Dec    0.020411 -0.111888 -0.029202  0.017851  0.024033 -0.103009 -0.086163
Feb   -0.113943 -0.106676 -0.109153 -0.164472 -0.039450 -0.012400 -0.143107
Jan    0.090776 -0.013661  0.090130  0.061920 -0.012968 -0.058613  0.019153

[5 rows x 264 columns]

In [1048]:
# Compare values of the same year (eg: Exports of February and March in 1991)
df_exports_1991 = df_month_year["exports"][1991].copy()

In [1049]:
df_exports_1991.head()

month
Apr    709.70
Aug    741.20
Dec    826.13
Feb    662.65
Jan    635.57
Name: 1991, dtype: float64

In [1050]:
# Compare values of different years (eg: Monthly imports of the years 1994 & 1995)
df_imports = df_month_year["imports"].copy()
df_imports_1994 = df_imports[1994].copy()
df_imports_1995 = df_imports[1995].copy()

In [1051]:
df_imports_1994.head()

month
Apr    1775.99
Aug    1728.14
Dec    1893.13
Feb    1349.04
Jan    1650.56
Name: 1994, dtype: float64

In [1052]:
df_imports_1995.head()

month
Apr    2229.56
Aug    2273.59
Dec    2571.39
Feb    1615.89
Jan    1855.58
Name: 1995, dtype: float64